.GkList {
  .top-query {
    position: relative;
    padding: 18px 170px 18px 30px;
    margin-bottom: 12px;
    background: #fff;

    .top-query-btn {
      position: absolute;
      bottom: 19px;
      right: 0;
    }
  }

  .mr6 {
    margin-right: 6px;
  }

  .container {
    background: #fff;

    .subtask-header {
      height: 65px;
      padding: 22px 30px 15px 40px;
      border-bottom: 1px solid rgb(0 0 0 / 10%);

      .subtask-title {
        position: relative;
        width: 140px;
        height: 28px;
        padding-left: 30px;
        font-weight: 500;
        font-size: 17px;
        line-height: 28px;
        color: #000;
      }

      .subtask-title::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 25px;
        height: 25px;
        background-image: url('../../../assets/imgs/taskInitiation/background.svg');
        transform: translate(0, -50%);
        content: '';
      }

      .action-btn {
        height: 32px;
        margin-left: 10px;
        border: 1px solid #a9b8d9;
        border-radius: 4px;
        color: #1b62ec;
        background: #f3f5ff;
        box-shadow: 0 2px 6px 0 rgb(27 98 236 / 15%);

        &:hover {
          border-color: #6b8afa;
        }
      }
    }

    .subtask-container {
      padding: 0 30px 0 20px;
    }

    .subtask-footer {
      padding: 16px 30px 22px 20px;
    }
  }
}

.subtask {
  position: relative;
  padding: 20px 10px 20px 20px;
  overflow: hidden;
  background: #fff;

  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    content: '';
  }

  .SubtaskTemplate {
    flex: 1;
    margin-left: 15px;
  }
}

.spin-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 300px;
  text-align: center;
  background: rgb(0 0 0 / 10%);
}
