/* 保存 */
.addAll_table{
    width: 90%;
    padding: 10px 15px;
    height: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.addAll_table tbody{
    width: 90%;
    height: 270px;
}
.addAll_table input{
    width: 300px;
    height: 30px;
    border: none;
    border: cadetblue 1px solid;
    outline: none;
    text-indent: 15px;
    border-radius: 10px;
}

.addAll_table td{
    text-align: center;
}


/* 修改 */
.set_table{
    width: 90%;
    padding: 10px 15px;
    height: 75%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.set_table tbody{
    width: 90%;
    height: 270px;
}
.set_table input{
    width: 300px;
    height: 30px;
    border: none;
    border: cadetblue 1px solid;
    outline: none;
    text-indent: 15px;
    border-radius: 10px;
}

.set_table td{
    text-align: center;
}


